# === Global ignores ===
node_modules/
.env
.DS_Store
dist/
.vscode/
*.log

# === Backend specific ===
backend/node_modules/
backend/.env
backend/coverage/
backend/dist/
backend/.DS_Store
backend/*.log

# PM2 logs (if using it)
backend/logs/
backend/pids/
backend/*.pid

# === Frontend specific ===
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/.vite/
frontend/.DS_Store
frontend/*.log
